.mov {
    Width:100%;
    font-size: 200%;
    margin-top:22px;
    margin-left:55px;
  }

  .mov1{
    margin-left:50px;
  }

  .box{
    display:flex;
    flex-flow: column wrap;
  }
  
  /* Estilos para la clase .ini */
  .ini{
    margin-top:60px;
    margin-left:60px;
  }
  
  /* Estilos para la clase .iz */
  .iz{
    margin-left:60px;
  }
  
  /* Estilos para los elementos <input> de tipo texto */
  input[type=text]{
    width: 40%;
    /* padding: 15px 20px;
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; */
  }
  
  /*.custom-container {
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 1218px
  }*/
  
  
  