<app-navbar></app-navbar>

<h1 class="mov">Restablecer contraseña</h1>
<button class="btn btn-secondary my-2" routerLink="/">Regresar</button>
<form (ngSubmit)="enviarDatos()" [formGroup]="formLogin" class="m-3">
<div class="mb-3  mov1">
  
  <label for="exampleInputPassword1" class="form-label">Email</label>
  <input
    type="password"
    style="width: 192px;"
    class="form-control "
    id="exampleInputPassword1"
    formControlName="Contrasena"
  />
</div>

<div class="mb-3  mov1">
  <label for="exampleInputPassword1" class="form-label">Nueva Contraseña</label>
  <input
    type="password"
    style="width: 192px;"
    class="form-control "
    id="exampleInputPassword1"
    formControlName="Contrasena"
  />
</div>

<div class="mb-3  mov1">
  <label for="exampleInputPassword1" class="form-label">Repetir contraseña</label>
  <input
    type="password"
    style="width: 192px;"
    class="form-control "
    id="exampleInputPassword1"
    formControlName="Contrasena"
  />
</div>
<button type="submit" class="btn btn-primary iz">Submit</button>
</form>