.area-card {
  width: 16rem;
  height: 8rem;
  overflow: hidden;
  flex-shrink: 1;
}
.area-card img {
  opacity: 0.5;
}
.area-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.area-aviso {
  align-self: flex-end;
}
.area-nombre {
  margin-top: auto;
}