<div 
  class="area-card card bg-dark text-white shadow"
  *ngFor="let area of listaAreas" 
>
  <img class="card-img" src="{{area.foto}}" alt="Cancha de {{area.nombre}}">
  <a class="card-link" routerLink="/area-info">
    <div class="area-contenido card-img-overlay">
      <div *ngIf="area.aviso!='' " class="area-aviso">
        <span class="badge bg-warning">AVISO</span>
      </div>
      <div class="area-nombre card-title">
        {{area.nombre}}
      </div>
      <div *ngIf="area.Aforo!=undefined "  class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="{{area.Aforo}}" aria-valuemax="{{area.Capacidad}}" aria-valuemin="0"></div>
      </div>
    </div>
  </a>
</div>