/* Descripcion de area-card.component.css: programa que define el estilo del componente "area-card".
Su proposito es proporcionar una mejor visualizacion a los elementos del componente "area-card".
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano.
Fecha de creacion: 03/04/2023
Fecha de modificacion: 15/06/2023 */

/* Estilos para la etiqueta <section> */
section {
  width: 100%;
}

/* Estilos generales para las tarjetas de àrea */
.area-card,
.add-card {
  margin: 1rem;
  width: 16rem;
  height: 8rem;
  overflow: hidden;
  flex-shrink: 1;
  transition: 0.5s;
  /* Esto centra la imagen de fondo en el eje vertical */
  display: flex;
  justify-content: center;
}

/* Estilos para las imagenes dentro de la clase .area-card */
.area-card img {
  opacity: 0.5;
  transition: 0.5s;
}

/* Estilos al hacer hover sobre la clase .area-card */
.area-card:hover {
  transform: translateY(-10px);
  border: 3px #0286FF solid;
}

/* Estilos al hacer hover sobre las imagenes dentro de la clase .area-card */
.area-card:hover img {
  opacity: 0.8;
}

/* Estilos para los enlaces de tarjetas */
.card-link {
  text-decoration: none;
  color: #fff;
}

/* Estilos para la clase .area-contenido */
.area-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos para la clase .area-aviso */
.area-aviso {
  align-self: flex-end;
  font-size: larger;
}

/* Estilos para la clase .area-nombre */
.area-nombre {
  margin-top: auto;
  font-weight: 600;
  font-size: large;
}

/* Estilos para el botón de agregar área */
.add-card {
  justify-content: center;
  align-items: center;
  border: lightgray dashed 5px;
  border-radius: 10px;
  font-size: 5rem;
  color: lightgray;
}

.add-card:hover {
  transform: translateY(-10px);
  font-size: 8rem;
  cursor: pointer;
}

/* Estilos para la etiqueta <progress> */
progress{
  background-color: red;
}

/* Breakpoints. Media Queries*/

@media (min-width: 1200px) { }

@media (max-width: 992px) { }

/* Estilos para pantallas con un ancho maximo de 768px */
@media (max-width: 768px) { 
  .area-card,
  .add-card {
    width: 40%;
    height: 8rem;
    margin: 1rem auto 1rem 1rem;
  }
}

/* Estilos para pantallas con un ancho maximo de 480px */
@media (max-width: 480px) { 
  .area-card,
  .add-card {
    width: 100%;
    height: 8rem;
    margin: 0.5rem 2rem;
  }
}
