.area-card {
  width: 20rem;
  height: 10rem;
  overflow: hidden;
}
.area-card img {
  opacity: 0.5;
}
.area-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.area-aviso {
  align-self: flex-end;
}
.area-nombre {
  margin-top: auto;
}