<!-- Descripcion de admin-navbar.component.html: programa que define la estructura del componente
"admin-navbar". Su proposito es desplegar un menu para facilitar la navegacion del administrador. 
Porpiedad del equipo WellSoft. 
Ultima edicion por: Arturo Garza Campuzano.
Fecha de creacion: N/A
Fecha de modificacion: 17/05/2023 -->

<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Boton de despliegue para navegacion movil -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenido colapsable de la barra de navegacion -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Boton para obtener una area -->
        <button type="submit" class="btn btn-secondary m-2">
          <!-- (click)="getArea()" -->
          Dame una area
        </button>
        <!-- Boton para ir a la pagina de agregar edificios -->
        <button
          type="button"
          class="btn btn-secondary m-2"
          routerLink="/edificio-CRUD/agregar"
        >
          Edificios
        </button>
        <!-- Boton para ir a la pagina de estadisticas de un edificio -->
        <button
          type="button"
          class="btn btn-secondary m-2"
          [routerLink]="['/edificio', edificio.IdEdificio]"
        >
          Estadísticas
        </button>
        <!-- Boton para cambiar la contrasena -->
        <button type="button" class="btn btn-secondary m-2">Contraseña</button>
      </ul>
    </div>
  </div>
</nav>
