/* Descripcion de home.component.css: programa que define el estilo del componente "home".
Su proposito es proporcionar una mejor visualizacion a los elementos del componente "home".
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano.
Fecha de creacion: 05/05/2023
Fecha de modificacion: 15/06/2023 */

/* Estilos para la clase .titulo-seccion y .help */
.titulo-seccion,
.help {
  display: flex;
  align-items: center;
}

/* Estilos para el elemento h2 dentro de .titulo-seccion */
.titulo-seccion h2 {
  margin-right: 0;
}

/* Estilos para la clase .help */
.help {
  align-items: center;
  justify-content: center;
  background: #aaa;
  color: #fff;
  font-weight: 600;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 0;
  padding: 3.5px 8.5px;
  cursor: pointer;
}

/* Estilos generales para elementos con el atributo [tooltip] */
[tooltip] {
  position: relative
}

/* Estilos generales */
[tooltip]::before, 
[tooltip]::after {
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  text-transform: none; 
  font-size: .9em;
}

/* Estilos generales para elementos con el atributo [tooltip] */
[tooltip]::before {
  content: '';
  z-index: 1001;
  border: 5px solid transparent;
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}

/* Estilos para el contenido del tooltip */
[tooltip]::after {
  content: attr(tooltip);
  z-index: 1000;
  width: 21rem;
  min-width: 3em;
  max-width: 50vw;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  /* Diseno visible de las burbujas de los tooltips */
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  font-weight: 300;
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* Estilos para mostrar el tooltip al hacer hover */
[tooltip]:hover::before, 
[tooltip]:hover::after {
  display: block;
  animation: 
  tooltips-horz 
  300ms 
  ease-out 
  forwards;
}

/* Estilos para ocultar tooltips vacios */
[tooltip='']::before, 
[tooltip='']::after {
  display: none !important;
}

/* Animacion del tooltip horizontal */
@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-80%, 0);
  }
}

/* Breakpoints */
@media (min-width: 1200px) { }

@media (max-width: 992px) { }

/* Estilos para dispositivos con ancho de pantalla menor o igual a 768px */
@media (max-width: 768px) { 
  [tooltip]::after {
    height: fit-content; 
  }
  /* Solo el ::before */
  [tooltip]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  /* Solo el ::after */
  [tooltip]::after {
    bottom: calc(100% + 5px);
  }
  /* Both ::before & ::after */
  [tooltip]::before,
  [tooltip]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  /* Ambos ::before y ::after */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    animation: 
      tooltips-vert 
      300ms 
      ease-out
      forwards;
  }
}

/* Estilos para dispositivos con ancho de pantalla menor o igual a 480px */
@media (max-width: 480px) { 
}
