<app-navbar></app-navbar>
<app-header></app-header>
<app-admin-navbar></app-admin-navbar>
<h3 class="mx-3 mt-2 mb-0 fs-2 fw-bold">Áreas de Aforo</h3>
<app-area-card [tipoArea]="'Aforo'" [idEdificio]="1" class="flex-container"></app-area-card>
<h3 class="mx-3 mt-2 mb-0 fs-2 fw-bold">Clases Instructivas</h3>
<app-area-card [tipoArea]="'Instructiva'" [idEdificio]="1" class="flex-container"></app-area-card>
<h3 class="mx-3 mt-2 mb-0 fs-2 fw-bold">Áreas de Acceso Libre</h3>
<app-area-card [tipoArea]="'Reservacion'" [idEdificio]="1" class="flex-container"></app-area-card>
