.header-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  border-radius: 0%;
  border: none;
}

img {
  opacity: 0.7;
  border-radius: 0%;
}

.card-img-overlay {
  height: 100%;
  display: flex;
  align-items: center;
}

h1 {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem 5rem;
}