<!-- Descripcion de header.component.html: programa que define la estructura del componente "header".
Su proposito es mostrar una foto de fondo y una descripcion para los componentes mas relacionados a las areas.
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: 05/05/2023
Fecha de modificacion: 15/06/2023 -->

<header>
  <div class="card bg-dark text-white header-banner">
    <!-- Imagen de fondo del encabezado -->
    <img class="card-img" src="{{ this.linkFoto }}" />
    <div class="card-img-overlay">
      <!-- Título del encabezado -->
      <h1>{{ this.descripcion }}</h1>
    </div>
  </div>
</header>
