/* Descripcion de admin.component.css: programa que define el estilo del componente "admin".
Su proposito es proporcionar una mejor visualizacion a los elementos del componente "admin".
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: dd/mm/aaaa
Fecha de modificacion: 18/05/2023 */

.bg-image {
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../../assets/images/Escalar.jpg');

  /* efecto borroso */
  -webkit-filter: blur(8px);
  filter: blur(5px);

  /* Full height */
  height: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/* Estilos para la clase .box */
.box{
  display:flex;
  flex-flow: column wrap;
}

h1 {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
  margin: 4rem 0;
}

label {
  color: #fff;
  margin-right: auto;
  font-size: large;
}

/* Estilos para los elementos <input> de tipo texto */
input{
  width: 30rem;
  padding: 5px;
  /* margin: 10px 5px; */
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  margin-top: 3rem;
  font-size: larger;
}

/* Breakpoints */
@media (min-width: 1200px) { }


@media (max-width: 992px) { }

@media (max-width: 768px) { 
  input {
    width: 20rem;
    font-size: medium;
  }
}

@media (max-width: 480px) { 
  input {
    width: 15rem;
    font-size: small;
  }
}
