.box{
    display:flex;
    flex-flow: column wrap;
}


.ini{
    margin-top:60px;
    margin-left:60px;
}
.iz{
    margin-left:60px;
}

input[type=text]{
    width: 40%;
    padding: 15px 20px;
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .custom-container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: 1118px

  }

  @media (max-width: 1118px) { }

@media (max-width: 992px) { }

@media (max-width: 768px) { }

@media (max-width: 480px) { }

  .img1{
    width:100px;
    left: 0;
    top:0;
  }