<!-- Descripcion de admin.component.html: programa que define la estructura del componente "admin".
Su proposito es actuar como control de accesos para los administradores del sistema. 
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: dd/mm/aaaa
Fecha de modificacion: 18/05/2023 -->

<!-- Seccion de navegacion -->
<app-navbar></app-navbar>
<!-- Imagen de fondo -->
<div class="bg-image"></div>
<!-- Contenedor principal -->
<div class="container custom-container">
  <div class="row">
    <div class="">
      <div>
        <!-- Encabezado de Inicio de Sesion -->
        <h1>Administrador</h1>
      </div>
      <!-- Formulario del inicio de sesion de administrador" -->
      <form (ngSubmit)="enviarDatos()" [formGroup]="formLogin" class="m-3">
        <!-- Campo de entrada de correo electronico -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <br>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="Email"
          />
        </div>
        <!-- Campo de entrada de contrasena -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Contraseña</label
          >
          <br>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="Contrasena"
          />
        </div>
        <!-- Boton de envio del formulario -->
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
      <!-- Texto de alerta -->
      <div class="btn text-danger mt-5" *ngIf="mensaje != ''">
        Ha ocurrido un error al iniciar sesión.
      </div>
    </div>
  </div>
</div>
