<!-- Descripcion de vis.component.html: programa que define la estructura del componente "vis".
Su proposito es mostrar la tabla de los edificios.
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: 25/05/2023
Fecha de modificacion: 25/05/2023 -->

<app-navbar (linkFoto)="recibirFoto($event)"></app-navbar>
<div class="container my-4">
  <h1 class="fw-bold fs-1">Edificios</h1>
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary my-2" routerLink="/">Regresar</button>
    <button class="btn btn-success my-2" routerLink="/edificio-agregar/agregar">
      Agregar
    </button>
  </div>
  <!-- <div class="card custom-card"> -->
  <!-- <div class="card-header">Lista de Edificios en existencia</div> -->
  <div class="card-body">
    <div class="table table-responsive">
      <table class="table table-light text-center align-middle">
        <thead class="table table-secondary">
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">FOTO</th>
            <th scope="col">LINK MAPS</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let edificio of listaEdificios">
            <td id="nombreEdificio">{{ edificio.Nombre }}</td>
            <td>
              <img class="table_image" src="{{ edificio.Foto }}" />
            </td>
            <td>
              <a href="{{ edificio.LinkMaps }}" target="_blank" style="margin: auto">
                <img
                  src="../../../assets/images/maps-logo.png"
                  alt="Botón de google maps"
                  style="width: 30px"
                />
              </a>
            </td>
            <td class="acciones">
              <div class="cleda" id="celda">
                <button
                  id="editar"
                  type="button"
                  class="btn btn-warning"
                  [routerLink]="['/edificio-editar/', edificio.IdEdificio]"
                >
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button
                  id="borrar"
                  type="button"
                  class="btn btn-danger text-black m-2"
                  (click)="borrarRegistro(edificio.IdEdificio, edificio.Nombre)"
                >
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- </div> -->
</div>
