.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 9999; /* Asegura que el overlay esté en la parte superior */
  /*@import '~bootstrap-icons/font/bootstrap-icons.css';*/
  }