.parent {
    width: 100%;
}

.progress {
    height: 20px; /* Increase the height of the progress bar */
    width: 100%; /* Reduce the width of the progress bar */
  }
  
  .progress-bar {
    height: 100%; /* Set the height of the progress bar to 100% of its container */
  }
  
.custom-btn {
    font-size: 1.0rem; 
    padding: 1.0rem 1rem; 
  }
  
  /* @media (min-width: 576px) {
    .custom-btn {
      font-size: 1.25rem;
      padding: 0.75rem 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .custom-btn {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  }
  
  @media (min-width: 992px) {
    .custom-btn {
      font-size: 1.75rem;
      padding: 1.25rem 2.5rem;
    }
  }
  
  @media (min-width: 1200px) {
    .custom-btn {
      font-size: 2.5rem;
      padding: 1.5rem 3rem;
    }
  } */