<!-- Descripcion de acceso.component.html: programa que define la estructura del componente "acceso".
Su proposito es ser base del sistema de control de acceso de personal. 
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: 01/05/2023
Fecha de modificacion: 17/05/2023 -->

<!-- Incluir el componente app-navbar -->
<app-navbar></app-navbar>
<!-- Incluir el componente app-header con la propiedad enlazada "linkFoto" -->
<app-header [linkFoto]="area.Foto"></app-header>
<div class="parent flex-row acceso-container p-3">
  <!-- Mostrar el nombre del área -->
  <h1 class="fw-bold">{{ area.Nombre }}</h1>
  <div>
    <button class="btn btn-secondary m-2" routerLink="/">Regresar</button>
  </div>
  <div style="display: flex; justify-content: center">
    <div style="display: flex; flex-direction: column; width: 30rem">
      <!-- Mostrar un encabezado para el registro manual -->
      <h3 class="fw-bold mt-2 mb-3">Registro manual</h3>
      <!-- Mostrar una barra de progreso que indica la ocupación actual del área -->
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          [attr.aria-valuenow]="area.Aforo"
          [attr.aria-valuemax]="area.Capacidad"
          [style.width.%]="(area.Aforo / area.Capacidad) * 100"
        >
          {{ area.Aforo }} / {{ area.Capacidad }}
        </div>
      </div>
      <div class="mt-3">
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: space-between;
          "
        >
          <!-- Botón para la operación de entrada -->
          <button
            (click)="_MasAforo()"
            class="btn btn-success btn custom-btn"
            style="flex: 1"
            type="button"
          >
            Entrada
          </button>
          <!-- Botón para la operación de salida -->
          <button
            (click)="_MenosAforo()"
            class="btn btn-danger btn custom-btn my-3"
            style="flex: 1"
            type="button"
          >
            Salida
          </button>
          <!-- Mostrar un mensaje si es aplicable -->
          <div *ngIf="mensaje != '[object Object]'">
            {{ mensaje }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
