/* Descripcion de acceso.component.css: programa que define el estilo del componente "acceso".
Constituido por los siguientes estilos: .parent, .progress y .custom-btn.
Porpiedad del equipo WellSoft.
Fecha de creacion: 01/05/2023, Fecha de modificacion: 09/05/2023 */

.parent {
    width: 100%;
}

.progress {
    height: 20px; /* Increase the height of the progress bar */
    width: 100%; /* Reduce the width of the progress bar */
  }
  
  .progress-bar {
    height: 100%; /* Set the height of the progress bar to 100% of its container */
  }
  
.custom-btn {
    font-size: 1.0rem; 
    padding: 1.0rem 1rem; 
  }