/* Descripcion de area-info.component.css: programa que define el estilo del componente "area-info".
Su proposito es proporcionar una mejor visualizacion a los elementos del componente "area-info".
Porpiedad del equipo WellSoft.
Ultima edicion por: Arturo Garza Campuzano
Fecha de creacion: dd/mm/aaaa < 05/05/2023
Fecha de modificacion: 18/05/2023 */

/* Estilos para la clase .area-alert */
.area-alert {
  width: 100%;
  border: 0.5px solid;
}

/* Estilos para la clase .croquis */
.croquis {
  width: 50%;
}

/* Estilos para la clase .embedido */
.embedido {
  flex: 1 1 auto;
  display: flex;
  height: 50vh;
  width: 80vw;
  border: solid 2px #333;
  border-radius: 10px;
}

.botones {
  display: flex;
  gap: 10px; /* Ajusta la separación entre los botones según tus necesidades */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  z-index: 9999; /* Asegura que el overlay esté en la parte superior */
}